<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
      	<p></p>
        <p>Beining Zhang is a prospective PhD student in the Agents, Interaction and Complexity (AIC) research group at the University of Southampton. 
        She holds a BSc and MSc in Mathematics, Operational Research, Statistics, and Economics (MORSE) from the University of Warwick. 
        Her research focuses on Artificial Intelligence (AI), specifically autonomous agents (AA) and multi-agent systems (MAS), 
        and how they can help humans resolve major cooperation challenges.</p>
      </div>
      <p></p>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-default">
          <i class="fa fa-download"></i> Download My CV
        </a>
      </div>
      
    </div>
  </div>
</section>
