<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div style="height: 30px;"></div>
      <div class="col-lg-12">
        <p>Beining Zhang is a prospective PhD student in the Agents, Interaction and Complexity (AIC) research group 
        in the Department of Electronics and Computer Science (ECS) at the University of Southampton. 
        She holds a BSc and MSc in Mathematics, Operational Research, Statistics, and Economics (MORSE) from the University of Warwick. </p>
        <p>Her research investigates how AI can help address major challenges in human cooperation. 
        In particular, she uses techniques such as large language models and reinforcement learning to identify mutually beneficial agreements, 
        ultimately enhancing collective decision-making in mixed-motive settings where the involved parties may have conflicting interests.</p>
      </div>
      <div style="height: 30px;"></div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-primary">
          <i class="fa fa-download"></i> Download My CV
        </a>
      </div>
      
    </div>
  </div>
</section>
